<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="DatabaseSettings.Provider" value="NHibernate.Connection.DriverConnectionProvider"/>

    <add key="DatabaseSettings.Driver" value="NHibernate.Driver.SqlClientDriver, NHibernate"/>
    <add key="DatabaseSettings.ConnectionString" value="Data Source=LOCALHOST;initial catalog=KokugenData;Integrated Security=SSPI;pooling='true'; Max Pool Size=200"/>
    <add key="DatabaseSettings.Dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    
  <!--<add key="DatabaseSettings.Driver" value="NHibernate.Driver.SQLite20Driver, NHibernate"/>
  <add key="DatabaseSettings.ConnectionString" value="Data Source=nhibernate.db;Version=3;New=True;"/>
  <add key="DatabaseSettings.Dialect" value="NHibernate.Dialect.SQLiteDialect"/>-->
    
  <add key="DatabaseSettings.ShowSql" value="true"/>
  <add key="DatabaseSettings.UseOuterJoin" value="true"/>
  <add key="DatabaseSettings.ProxyFactory" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
  </appSettings>
  <connectionStrings>
    <add name="KokugenData" connectionString="Data Source=LOCALHOST;initial catalog=KokugenData;Integrated Security=SSPI;pooling='true'; Max Pool Size=200"/>
  </connectionStrings>
</configuration>