.board-phase-header 
{
    font-size: 16px;
    padding: 8px 8px 0;
    font-weight: bold;
    text-align: center;
}
.board-phase-header-left
{
    display: table-cell;
    width: 50px;
    margin-top: 200px;
}
.cell 
{
    display: table-cell;
}

.backlog-column 
{
    display: table;
    width: 100%;
}

.box_rotate-left {
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-1)"; /* IE8 */
}
  
.card-list 
{
    height: 100%;
    padding: 20px 5px 5px;
    z-index: 100;
    
}

.board 
{
    display: table;
    width: 100%;
  background-image: -moz-linear-gradient(top, #F0F0F0, #FFFFFF 20%); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d0d0d0),color-stop(1, #FFFFFF)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#d0d0d0', EndColorStr='#FFFFFF'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d0d0d0', EndColorStr='#FFFFFF')"; /* IE8 */

}
.left-slider, .right-slider
{
    display: table-cell;
    width: 35px;
    background-color: #CCC;
}
.left-slider.hidden, .right-slider.hidden
{
    display: none;
}
.slider .slide-title 
{
    margin-top: 35%;
    font-size: 14px;
    font-weight: bold;
}

.slider .slide-title.left
{
    background: #CCC url('/content/images/backlog-title.png') no-repeat top left;
   width: 30px;
   height: 450px;
   margin-left: 2px;
   margin-right: 2px;
   margin-top: 0px;
}
.slider .slide-title.right
{
    background: #CCC url('/content/images/archive-title.png') no-repeat top left;
   width: 30px;
   height: 450px;
   margin-left: 2px;
   margin-right: 2px;
   margin-top: 0px;
}
.collapse-left
{
    background: transparent url('/content/images/collapse-left.png') no-repeat top left;
   float:left;
height:32px;
margin-top:5px;
padding:5px;
width:32px;
}
.collapse-right
{
        background: transparent url('/content/images/collapse-right.png') no-repeat top left;
   float:right;
height:32px;
margin-top:-23px;
padding:5px;
width:32px;
}
.column 
{
    display: table-cell;
    border-left:2px dotted #CCCCCC;
    min-width:200px;
    /*background-color:#F6F6F6;*/
}
.column.hidden
{
    display: none;
}
.column.over-limit
{
    background-color: #E68B7E;
}
.column.over-limit .board-phase-header 
{
    color: #962110;
}

.column.over-limit .ui-sortable .phase-placeholder
{
    background-color: #CC4B3A;
    border-color: #903529 !important;
}
.column.hidden
{
    display: none;
}

.bottom-border
{
    width: 100%;
    border-bottom: 2px solid #333;
    margin-top:35px;
}
.add-card-compact input, .add-card-compact textarea
{
    margin-bottom: 7px;
}

.add-card-compact div.actions 
{
    float: right;
    
}

.full-width-input 
{
    width: 100%;
}
.full-width-input input, .full-width-input textarea
{
    width: 100%;
}
.quarter-input 
{
    display: inline;
    width: 24%;
}
.quarter-input input
{
    width: 23%;
}



.reason-blocked div { width: 100%; }
.reason-blocked  
{
    color:White;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    padding:4px;
    width:100%;
}
.reason-form textarea 
{
    margin-left: 8px;
    width: 90%;
    height: 35px;
    font-size: 12px;
}

.card-blocked 
{
    background-color: #D05750;
    padding-top:8px;
}


li.card.hover
{
    -moz-box-shadow: 0px 0px 3px #333; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 3px #333; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 3px #333; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#333'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#333')"; /* IE8 */
}



.card .card-body 
{
    font-size:14px;
line-height:22px;
margin: 0px;
padding: 5px;
background-color: #FFF;
}


.card .card-header .card-number  
{
    float:left;
    font-size:14px;
    margin-top: 2px;
    font-weight:bold;
    line-height:25px;
}

.card .card-header .card-number a 
{
    color:#000000;
    display:block;
    margin-left:8px;
    margin-right:4px;
    padding-right:4px;
    text-decoration:none;
}

.card .card-header .card-number a:hover
{
    background: transparent url('/content/images/magnify16.png') no-repeat -2px 6px;
    text-indent: 16px;
}


div.error 
{
    color: Red;
    background-color: #FFEAF1;
     -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
      border-radius: 5px; /* Opera 10.5, IE 9 */
      border: solid 1px Red;
      margin:44px 10px 10px;
    padding:5px;

}

.quarter-input label.error 
{
    display: none;
    
}

.card .card-section 
{
    border-top: 1px dotted;
    background-color: #FFF;
}

.card-section 
{
    background-color: #FFF;
}

ul #card-toolbar
{
    height: 24px;
    clear: both;
    min-width: 220px;
}

#card-toolbar li.icon
{
    display: inline;
    float: left;
}
#card-toolbar li.checkbox
{
    display: inline;
    float: right;
    height: 25px;
}

#card-toolbar .checkbox 
{
    border-left: 1px dotted;
}

#card-toolbar .icon 
{
    border-right: 1px dotted;
}

#card-toolbar .checkbox a 
{
    background: transparent url('/content/images/checkbox_no.png') no-repeat scroll left;
    padding: 2px 2px 6px 24px;
    margin-left:2px;
    padding:3px 3px 6px 19px;
    font-size: 10px;
    color: #000;
    text-decoration: none;
}

#card-toolbar .checkbox a.unchecked
{
    background: transparent url('/content/images/checkbox_no.png') no-repeat scroll left;
}
#card-toolbar .checkbox a.checked, #card-toolbar .checkbox a:hover
{
    background: transparent url('/content/images/checkbox_yes.png') no-repeat scroll left;
}

#card-toolbar li.icon a
{
    
    padding: 4px 4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    display:block;
    text-indent: -99999px;
}
#card-toolbar li.icon a:hover 
{
    background-color: #CCC;
}

.color-wheel 
{
    background: transparent url('/content/images/color_wheel.png') no-repeat center center;
}

.claim 
{
    background: transparent url('/content/images/claim16.png') no-repeat center center;
}

.card-up  
{
    background: transparent url('/content/images/up.png') no-repeat center center;
}

.card-down 
{
    background: transparent url('/content/images/down.png') no-repeat center center;
}

#card-color-editor 
{
    height: 26px;
    min-width: 230px;
}


#card-color-editor li
{
    display: inline;
    float: left;
    padding: 2px;
    background-color: #FFF;
}

#card-color-editor li a 
{
    border: 1px solid;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-right: 4px;
    text-decoration: none;
    width: 20px;
    text-indent: -9998px;
}
#card-color-editor li a:hover 
{
       -moz-box-shadow: 0px 0px 3px #666; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 3px #666; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 3px #666; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#666666'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#666666')"; /* IE8 */
}

button.cancel 
{
    background: transparent url('/content/images/color-cancel.png') no-repeat center center;
    border:medium none;
    text-indent:-9999px;
    width:16px;
}

.ui-sortable .phase-placeholder {
-moz-border-radius:8px 8px 8px 8px;
background-color:#cce5ff;
border:1px dashed #2c76fd !important;
display:inline-block;
margin: 0 0 8px 8px;
vertical-align:top;

}

.card .card-header 
{
    cursor: move;
    overflow: hidden;
    border-bottom:1px solid;
    height: 27px;
    
}

.card 
{
   /* background: none url('/content/images/card-overlay.png') repeat-x top left;*/
    margin-bottom: 4px;
    -moz-border-radius:4px 4px 4px 4px;
    border: none;   
    padding: 5px;
    clear: both;
}

.grey 
{
    /*background-color:#FFF;
    border-color:#555;*/
    
      background-image: -moz-linear-gradient(top, #555555, #343434); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #555555),color-stop(1, #343434)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#343434'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#343434')";
}

.blue
{
   
    /*background-color:#466c8a;*/
    
  background-image: -moz-linear-gradient(top, #4c7594, #223543); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4c7594),color-stop(1, #223543)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c7594', EndColorStr='#223543'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c7594', EndColorStr='#223543')"; /* IE8 */

}


.yellow
{
    /*background-color:#F5F7C4;
    background-color:#FFF;
    border-color:#9C8C02;*/
    
  background-image: -moz-linear-gradient(top, #9C8C02, #5E5403); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #9C8C02),color-stop(1, #5E5403)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#9C8C02', EndColorStr='#5E5403'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9C8C02', EndColorStr='#5E5403')"; /* IE8 */

}
.orange
{
    /*background-color:#FFD7B3;
    background-color:#FFF;
    border-color:#B67902;*/
      background-image: -moz-linear-gradient(top, #ECAA2F, #665538); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ECAA2F),color-stop(1, #665538)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ECAA2F', EndColorStr='#665538'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ECAA2F', EndColorStr='#665538')";
}
.teal
{
    /*background-color:#CFE7E2;
    background-color:#FFF;
    border-color:#027E92;*/
      background-image: -moz-linear-gradient(top, #027E92, #012C31); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #027E92),color-stop(1, #012C31)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#027E92', EndColorStr='#012C31'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#027E92', EndColorStr='#012C31')"; 
}

.card.ready
{
    /*background-color:#BDF4CB;
    background-color:#FFF;
    border-color:#2e8015;*/
    
  background-image: -moz-linear-gradient(top, #1cac3a, #0d4f1b); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1cac3a),color-stop(1, #0d4f1b)) ; /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#1cac3a', EndColorStr='#0d4f1b'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#1cac3a', EndColorStr='#0d4f1b')"; /* IE8 */

}

.card.blocked
{
    /*background-color:#FFBBBB;
    background-color:#FFF;
    border-color:#ae2511;*/
    
  background-image: -moz-linear-gradient(top, #AE2511, #571908); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #AE2511),color-stop(1, #571908)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#AE2511', EndColorStr='#571908'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#AE2511', EndColorStr='#571908')"; /* IE8 */

}

.card.grey .card-header 
{
    background-color:#DDDDDD;
    border-color:#CCCCCC;
}

.card.blue .card-header 
{
    background-color:#70a5d8;
    border-color:#233644;
}




.card.yellow .card-header 
{
    background-color:#ECD800;
    border-color:#9C8C02;
}


.card.orange .card-header 
{
    background-color:#E49703;
    border-color:#B67902;
}


.card.teal .card-header 
{
    background-color:#029DB6;
    border-color:#027E92;
}

.card.blocked .card-header 
{
    background-color:#e65540;
    border-color:#d34f52;
}


.card.ready .card-header 
{
    background-color:#80C84B;
    border-color:#2e8015;
}

#card-color-editor li a.grey 
{
    background-color:#EEEEEE;
    border-color:#CCCCCC;
}

#card-color-editor li a.blue 
{
    background-color:#70a5d8;
    border-color:#233644;
}


#card-color-editor li a.yellow 
{
    background-color:#ECD800;
    border-color:#9C8C02;
}

#card-color-editor li a.orange 
{
    background-color:#E49703;
    border-color:#B67902;
}

#card-color-editor li a.teal 
{
    background-color:#029DB6;
    border-color:#027E92;
}

#card-color-editor li a.blocked 
{
    background-color:#e65540;
    border-color:#d34f52;
}
#card-color-editor li a.ready 
{
    background-color:#80C84B;
    border-color:#2e8015;
}
.card .card-header .card-size 
{
    -moz-border-radius:4px 4px 4px 4px;
    border:1px solid;
    float:left;
    font-size:10px;
    margin-top:5px;
    padding:1px 4px 2px 4px;
    border-color: #FFF;
    color: #FFF;
    font-weight: bold;
}

.card .card-header .username 
{
    float:right;
    margin-right:4px;
    margin-top:2px;
}
.card.grey .card-header .card-size 
{
    background-color:#BBB;
    color: #000;
}

.card.blue .card-header .card-size
{
    background-color:#233644;
}


.card.yellow .card-header .card-size
{
    background-color:#9C8C02;
}

.card.orange .card-header .card-size
{
    background-color:#B67902;
}

.card.teal .card-header .card-size
{
    background-color:#027E92;
}

.card.blocked .card-header .card-size
{
    background-color:#d34f52;
}
.card.ready .card-header .card-size
{
    background-color:#2e8015;
}

