/* Global */

img { border: none;}

* {margin: 0; padding: 0;}

a:focus
{
  -moz-outline: none;
}

body{
	background: url(../images/bg.jpg) repeat top left;
	font-family: Helvetica;
}

#head {
	background-color: #1d71b1;
	height: 102px;
	
  background-image: -moz-linear-gradient(top, #1d71b1, #064b80); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1d71b1),color-stop(1, #064b80)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#1d71b1', EndColorStr='#064b80'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#1d71b1', EndColorStr='#064b80')"; /* IE8 */

}

#wrapper{
	height:92px;
    margin:auto;
    padding-bottom:0;
    padding-top:10px;
    width:960px;
}

h1{
	background: url(../images/k-logo.png) no-repeat top left;
	height: 66px;
	width: 232px;
}


#logo a {
	text-indent: -7777px;
	display: block;
	height: 53px;
	overflow: hidden;
}

/*subnav*/



.nav {
	background: url(../images/s-bar.jpg) repeat-x top left;
	height: 35px;
	margin: auto;
}

.nav-wrapper {
	height:35px;
	margin: auto
	width:960px;

}

.subnav {
	list-style:none;
	margin-left: 15px;
	text-decoration: none;
	

}

.subnav li {
	color: #fff;
	display:inline-block;
	xpadding: 7px 0 27px 0;
	float:left;
	font-size: 13px;
	xposition:relative;
	text-decoration: none;
	
}

.subnav.right li 
{
    float: right;
}

.subnav li a {
	color:#CCC;
	display:inline-block;
	font-weight:bold;
	font-size:12px;
	height: 21px; 
	padding:7px 7px;
	letter-spacing: 1px;
	text-align:center;
	text-decoration:none;
	text-shadow: #000 1px 1px 0;
	width: 100px;
}

.subnav li a:hover {
	background: url(../images/hover.png) top left repeat-x;
	color:#CCC;
	height: 21px;
	font-weight:bold;
	width:100px;

}

.subnav li a:active{
	background: #222 url(../images/arrow.png) bottom center no-repeat;
	color: #fff;
	font-weight: bold;
	text-shadow: #000 1px 2px 0;
	
}

.subnav li.last a {
	
}

.subnav li.bar a {
	border-right:1px solid #333;
	border-left:1px solid #333;
}

.subnav li.lbar a {
	border-right:1px solid #333;
}

ul.subnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.subnav li ul.dropdown {
	list-style: none;
	position: absolute; /*--Important - Keeps dropdown from affecting main navigation flow--*/
	left: 0; top: 130px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.subnav li ul.dropdown li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.subnav li ul.dropdown li a {
	float: left;
	width: 145px;
	background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.subnav li ul.dropdown li a:hover { /*--Hover effect for dropdown links--*/
	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}

/*end subnav*/

.clear { clear: both;}
.hidden { display:none;}

input.error, textarea.error
{
    border: solid thin red;
}
label.error
{
    display:block;
    color:Red;
}

/* Form Items */

.form-item 
{
    padding: 2px;
}

.form-item label 
{
    padding: 5px;
    display:block;
}

.form-item input 
{
    padding: 5px;
    width: 100%;
}

input[type="text"], input[type="password"], textarea {
padding:4px;
}

input[type="text"], input[type="password"], textarea, select {
border:1px solid #CCCCCC;
font-family:"Tahoma","Arial","Verdana",sans-serif;
font-size:1.4em;
margin:0;
}

ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

li.project 
{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

li.project a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEE url(../images/clipboard.png) no-repeat scroll 6px 6px;
border:1px solid #333;
font-family:"Georgia","Times New Roman",serif;
color:#000000;
display:block;
padding:6px;
text-decoration:none;
text-indent:24px;
z-index:10;
}

li.project.odd a 
{
    background:#CCC url(../images/clipboard.png) no-repeat scroll 6px 6px;
}

li.project.even a 
{
    background:#FFF url(../images/clipboard.png) no-repeat scroll 6px 6px;
}

li.project a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D3F3D3 url(../images/clipboard.png) no-repeat scroll 6px 6px;
border:1px solid #A3D3A3;
font-family:"Georgia","Times New Roman",serif;
color:#000000;
display:block;
padding:6px;
text-decoration:none;
text-indent:24px;
z-index: 10;
}

li.project span.project-name 
{
    font-weight: bold;
}

li.project span.project-stats {
-x-system-font:none;
color:#333;

font-size: 12px;
font-style:italic;
font-variant:normal;
font-weight:normal;
line-height:normal;
}

li.project div.project-owner {
-x-system-font:none;
color:#666;

font-size:10px;
font-style:italic;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.project-meta 
{
    display: inline;
    float: right;
    z-index:20;
}
.upper-meta 
{
   margin: 5px;
}

.add-caption img { vertical-align: middle; margin: 2px; }
.add-caption a, .add-caption a:visited
{
    color: #666;
    font-family:"Georgia","Times New Roman",serif;
    font-style: normal;
    text-decoration: none;
    
}
.clear { clear:both;}

input.error 
{
    border:solid 3px red;
    background-color: #FFEAF1;
}
label.error
{
    color: Red;
}

.board-column-configure li.phase.draggable div.col-title{
cursor:move;
}

.board-column-configure h4 {
font-size:1.8em;
height:60px;
padding:24px 12px 12px;
}
.board-column-configure div.col-desc {
border-top:1px dotted #CCCCCC;
height:40px;
padding:8px;
}

.board-column-configure li.phase.fixed {
background-color:#E3E3E3;
}
.board-column-configure li.phase {
-moz-border-radius:8px 8px 8px 8px;
background-color:#EFEFEF;
border:1px solid #CCCCCC;
display:inline-block;
margin:0 0 12px 12px;
text-align:center;
vertical-align:top;
}
li.phase h4 
{
    cursor: move;
}
.board-column-configure .phase-placeholder {
-moz-border-radius:8px 8px 8px 8px;
background-color:#CCFFCC;
border:1px solid #BBEEBB !important;
display:inline-block;
margin:0 0 12px 12px;
vertical-align:top;

}

.edit-link, .remove-link {
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: inline-block;
    text-indent: -7777px;
}

.col-links {
    margin: auto;
    text-align: center;
}

.edit-link {
    background: transparent url(/content/images/card_edit.png) no-repeat top left;
}

.remove-link {
    background: transparent url(/content/images/card_delete.png) no-repeat top left;
}

.hinted  
{
    color: #666;
}

.button 
{
    -moz-border-radius: 7px; /* FF1+ */
  -webkit-border-radius: 7px; /* Saf3+, Chrome */
    border-radius: 7px; /* Opera 10.5, IE 9 */
    border:1px outset #333333;
    color:#FFFFFF;
    cursor:pointer;
    padding:5px 5px 5px 30px;
    text-decoration:none;
    
}

.button:hover 
{
    border: 1px inset #666;
}

.button.grn 
{
    background:url("../images/add_button.png") no-repeat scroll 5px center #666666;
}

.button.orng 
{
    background:url("../images/add_orng.png") no-repeat scroll 5px center #666666;
}

a.icon 
{
    color: #333;
    
}

a.icon img 
{
    
}

.time-records ul
{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

a:focus
{
  -moz-outline: none;
  -moz-user-select: none;
}

body {
}


/*nav*/


.btns {
	height: 37px;
	margin: auto;
}



.btns {
	list-style:none;
	margin:auto;
	text-decoration: none;
	/*width: 960px;*/

}

.btns li {
	display:inline-block;
	float:left;
	text-decoration: none;
	
}

.btns li a {
	background: url(../images/spite.jpg) no-repeat;
	xbackground-color: fuchsia;
	display: inline-block;
	height: 40px;
	margin-left:5px;
	text-indent: -7777px;
	width: 94px;
}


.btns #ready a {background-position: -0px 0px;}
.btns #block a {background-position: -94px 0px;}
.btns #color a {background-position: -188px 0px;}
.btns #claim a {background-position: -282px 0px;}
.btns #delete a {background-position: -376px 0px;}

.btns #ready a:hover {background-position: -0px -39px;}
.btns #block a:hover {background-position: -94px -39px;}
.btns #color a:hover {background-position: -188px -39px;}
.btns #claim a:hover {background-position: -282px -39px;}
.btns #delete a:hover {background-position: -376px -39px;}


.btns #ready.active a {background-position: -95px -120px;}
.btns #block.active a {background-position: -293px -120px;}
.btns #color.active a {background-position: -491px -120px;}
.btns #claim.active a {background-position: -695px -120px;}
.btns #delete.active a {background-position: -695px -120px;}

.contentWrapper {float: left; background-color: #FFF;
width: 100%;
height:100%; }
 .main-panel 
{
    margin-right: 250px; /*Set right margin to RightColumnWidth*/
}

.right-panel
{
    height:100%;
    float: left;
width: 250px; /*Width of right column*/
margin-left: -250px; /*Set left margin to -(RightColumnWidth) */
background-color: #DDD;

}

.main-panel div { padding: 4px; }

.main-panel .action-bar { background-color: #DDD }

.main-panel .card-title 
{
    font-size: 1.25em;
    font-weight: bold;
    background-color: #FFF;
    min-height: 35px;
    margin: 10px;
}
form.editing input 
{
    width: 100%;
    padding: 5px;
    border:1px solid #CCCCCC;
font-family:"Tahoma","Arial","Verdana",sans-serif;
font-size:1.4em;
margin:0;
margin-bottom: 10px;
}
.card-detail textarea 
{
    width: 100%;
    margin-bottom:8px;
}

.right-panel li 
{ 
    background-color:#EEEEEE;
line-height:1.75em;
margin:2px;
padding-bottom:2px;
padding-left:2px;
padding-right:2px;
}

.ui-widget-content { border: none; }

#tabs { padding: 0; }

.ui-corner-all {
-moz-border-radius:0;
}

.ui-widget-header  {
background-color:#CCCCCC;
border:none;
}

.save-button 
{
    background: transparent url('/content/images/btn-check24.png') no-repeat top left;
margin:5px;
padding:5px 5px 5px 25px;
}

.cancel-button { background: transparent url('/content/images/btn-delete24.png') no-repeat top left;
                 
margin:5px;
padding:5px 5px 5px 25px; }
}

.jgrowl-dark{color: #FFF; border: 1px solid #3281b7; background: #000 !important;}
.jgrowl-error{background:#f1cece !important; color:#bb2222; border: 1px solid #f19696;}