@charset "UTF-8";
/* Global */

img { border:none;}

* {margin: 0; padding: 0;}

a:focus
{
  -moz-outline: none;
}

body{
	background: url(../images/bg.jpg) repeat top left;
	font-family: Helvetica;
}

#head {
	background: url(../images/head.png) repeat-x top left;
	height: 192px;
}

#wrapper{
	height: 170px;
	margin: auto;
	position: relative;
	width: 960px;
	
}

h1{
	background: url(../images/logo.png) no-repeat top left;
	height: 77px;
	left: -50px;
	position: absolute;
	xtop: 20px;
	width: 283px;
	xposition: absolute;
}

#logo a {
	text-indent: -7777px;
	display: block;
	height: 53px;
	overflow: hidden;
}

/*subnav*/

#subnav {
	left: 289px;
	list-style:none;
	margin:auto;
	position:absolute;
	xpadding-left: 320px;
	text-decoration: none;
	top: 80px;
}

#subnav li {
	color: #333;
	display:inline-block;
	padding: 13px 0 27px 0;
	float:left;
	font-size: 13px;
	position:relative;
	text-decoration: none;
	
}

#subnav li a {
	text-align:center;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
	color:#333;
	padding:5px 15px;
	display:inline-block;
	xtext-shadow: #f1f1f1 1px 2px 0;
	letter-spacing: 1px;
}

#subnav li a:hover {
	color:#fff;
	font-weight:normal;
}

#subnav li a:active{
	color: #fff;
	font-weight: bold;
	text-shadow: #000 1px 2px 0;
	
}

#subnav li.last a {
	padding-left: 20px;
	padding-right: 0px;
}

#subnav li.bar a {
	border-right:1px solid #333;
	border-left:1px solid #333;
}

#subnav li.lbar a {
	border-right:1px solid #333;
}

/*end subnav*/

/* Form Items */

.form-item 
{
    padding: 2px;
}

.form-item label 
{
    padding: 5px;
    display:block;
}

.form-item input 
{
    padding: 5px;
}