.ui-sortable {height: 150px; width: 100px; border: 1px solid #333333;}
.ui-sortable li span { width:100%;}
.ui-sortable li { list-style: none;width:100%;}
.user-placeholder {background-color:blue; height:30px;}
ul.ui-sortable-hover {background-color:gray;}
ul.ui-sortable-error{background-color:red !important;}
.ui-sortable-active{background-color:#B0B1B5;}